.my-slider{
    background: url("https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}